<html>
<head>
    <title>{{title}} - Printable Recipe</title>
    <style>
        body {
            font-family: Arial,
                sans-serif;
        }
        h1,
        h2 {
            text-align: center;
        }
        img {
            display: block;
            margin:
                0 auto;
            max-width: 100%;
        }
        ul,
        ol {
            margin: 0;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <h1>{{title}}</h1>
    <img src="{{image}}" alt="{{title}}" />
    <h2>Ingredients:</h2>
    <ul>
        {{#each ingredients}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <h2>Instructions:</h2>
    <ol>
        {{#each instructions}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
</body>
</html>